.card {
  height: 77vh;
  display: flex;
  margin: 3rem;
  border: 1px solid darkgoldenrod;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.card > h1 {
  color: darkgoldenrod;
  font-size: 2.5rem;
  font-weight: bold;
}

.card > h5 {
  font-size: 1rem;
  font-weight: 500;
  padding: 2rem;
  width: 33%;
}
