.work,
.about,
.contact,
.home {
  height: 88vh;
  display: grid;
  place-items: center;
}

.about > h1 {
  font-size: 2.5rem;
}
.home > h1 {
  font-size: 2.5rem;
}

.work > h1 {
  font-size: 2.5rem;
}

.contact > h1 {
  font-size: 2.5rem;
}

.contact > form > input {
  color: darkgoldenrod;
  font-size: 1.2rem;
  margin-bottom: 4rem;
  text-align: center;
  border-color: purple;
  border-radius: 5px;
  width: 400px;
  height: 50px;
}

.contact > form > input:focus {
  outline: none;
}
