.work,
.about,
.contact,
.home {
  height: 99vh;
  display: grid;
  place-items: center;
}

.about > h1 {
  font-size: 2.5rem;
}
.home > h1 {
  font-size: 2.5rem;
}

.work > h1 {
  font-size: 2.5rem;
}

.contact > h1 {
  font-size: 2.5rem;
}
